{% extends 'layout.html.twig' %}

{% block content -%}
<div class="row">
    {% set testInProgress = get_test_in_progress() %}

    {% if testInProgress %}

    <h3>{{ 'title.active_test'|trans }}</h3>

    <table class="table table-bordered table-hover table-striped test-list">
        <tr>
            <th style="width: 200px;">{{ 'title.name'|trans }}</th>
            <th style="width: 300px;">{{ 'title.description'|trans }}</th>
            <th>{{ 'title.passed_count'|trans }}</th>
            {% if is_user_logged() %}<th>{{ 'title.passed_status'|trans }}</th>{% endif %}
            <th></th>
        </tr>
        {% include 'index/__test-row.html.twig' with {'test': testInProgress} %}
    </table>

    {% endif %}

    {% if cat is defined %}
    <h3>{{ 'title.all_tests_in_cat'|trans({'%title%': cat.name}) }}</h3>
    {% else %}
    <h3>{{ 'title.all_tests'|trans }}</h3>
    {% endif %}

    {% if pagination.countAll %}

    <table class="table table-bordered table-hover table-striped test-list">
        <tr>
            <th style="width: 200px;">{{ 'title.name'|trans }}</th>
            <th style="width: 300px;">{{ 'title.description'|trans }}</th>
            <th>{{ 'title.passed_count'|trans }}</th>
            {% if is_user_logged() %}<th>{{ 'title.passed_status'|trans }}</th>{% endif %}
            <th></th>
        </tr>

        {% for test in pagination.data %}
            {% include 'index/__test-row.html.twig' %}
        {% endfor %}
    </table>
        {% if pagination.countPages > 1 %}
        <nav class="paginaton">
            {% if pagination.prev %}
            <a class="btn btn-default pull-left" href="?page={{ pagination.prev }}">{{ 'pagination.prev'|trans|raw }}</a>
            {% endif %}

            {% if pagination.next %}
            <a class="btn btn-default pull-right" href="?page={{ pagination.next }}">{{ 'pagination.next'|trans|raw }}</a>
            {% endif %}
            <div class="clearfix"></div>
        </nav>
        {% endif %}

    {% else %}
    <p>{{ 'homepage.no_tests'|trans }}</p>
    {% endif %}
</div>
{% endblock %}