{% extends 'layout.html.twig' %}

{% block content %}
    {% if is_test_passed(test.id) %}
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ 'test.is_already_passed'|trans }}
    </div>
    {% endif %}
<h2>{{ test.name }}</h2>
<div>{{ test.description|raw }}</div>
<br />

    {% if test.isFree() or is_test_purchased(test.id) %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ question.index }}. {{ question.value }}</div>
        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="question_number" value="{{ question.index }}">

                <ul class="test_options">
                    {% for index, option in question.options %}
                        <li>
                            {% if question.multioption %}
                                <input type="checkbox" id="option-{{ option.index }}" name="option[]" value="{{ option.index }}-{{ option.value }}"/>
                            {% else %}
                                <input type="radio" id="option-{{ option.index }}" name="option" value="{{ option.index }}-{{ option.value }}"/>
                            {% endif %}

                            <label for="option-{{ option.index }}">{{ option.title }}</label>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-success submit-btn" type="submit" id="submit" name="submit">
                    {{ 'next'|trans }} <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <p>
        {{ 'test.is_paid'|trans }} <br /><br />
        <a class="btn btn-success btn-buy" href="{{ path('user_purchase', {'test_id': test.id}) }}"
           {% if is_user_logged() %}onclick="if (!confirm('{{ 'test.buy_confirmation'|trans({'%price%': test.price}) }}')) return false;"{% endif %}
        >{{ 'label.buy'|trans({'%price%': test.price}) }}</a>
    </p>
    {% endif %}
    <br />
    <p><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'back'|trans }}</a></p>
{% endblock %}

