{% extends 'layout.html.twig' %}

{% block content %}

    <div class="alert alert-warning">
        {{ 'user.add_credit_notice'|trans|raw }}
    </div>

    {% form_theme form 'form/row.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal login'}}) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{ 'label.submit'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}