{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#passed_tests" aria-controls="passed_tests" role="tab" data-toggle="tab">{{ 'cabinet.tab.test_results'|trans }}</a></li>
        <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">{{ 'cabinet.tab.purchased_tests'|trans }}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="passed_tests">
            {% if passedTests %}
            <br />
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>{{ 'cabinet.label.test'|trans }}</th>
                    <th>{{ 'cabinet.label.passed_at'|trans }}</th>
                    <th>{{ 'cabinet.label.result'|trans }}</th>
                </tr>
                {% for passedTest in passedTests %}
                    <tr>
                        <td>{{ passedTest.getTestResult().getTest().name }}</td>
                        <td>{{ passedTest.passed_at }}</td>
                        <td>
                            {{ passedTest.getTestResult().description|raw }}
                            <a target="_blank" href="{{ path('result_page', {'id': passedTest.getTestResult().test_id}) }}">{{ 'read_more'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p style="text-align: center; margin: 20px 0;">{{ 'cabinet.no_records'|trans }}</p>
            {% endif %}
        </div>

        <div role="tabpanel" class="tab-pane" id="orders">
            {% if orders %}
            <br />
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>{{ 'cabinet.label.order_id'|trans }}</th>
                    <th>{{ 'cabinet.label.content'|trans }}</th>
                    <th>{{ 'cabinet.label.purchased_at'|trans }}</th>

                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td><a href="{{ path('test_page', {'id': order.test_id}) }}">{{ order.getContent().name }}</a></td>
                        <td>{{ order.order_date }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p style="text-align: center; margin: 20px 0;">{{ 'cabinet.no_records'|trans }}</p>
            {% endif %}
        </div>
    </div>

    <p><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'back'|trans }}</a></p>
{% endblock %}